.movieLog {
  background-color: black;
  padding: 20px;
}

#h3{
    color: white;
}

.carousel-item img {
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  width: 300px;    
  height: auto;     
}
.mb-3{
  max-width: 600px;
  margin: auto; margin-top: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
}

/* 플로팅 플러스 버튼 */
.fab-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px; height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #3aa3e9;
  color: white;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}

.fab-btn:hover {
  transform: scale(1.1);
  background-color: #1153ce;
}
