.movieLog {
  background-color: black;
  padding: 20px;
}

#h3{
    color: white;
}

.carousel-item img {
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  width: 300px;    
  height: auto;     
}
.mb-3{
  max-width: 600px;
  margin: auto; margin-top: 30px;
}