.movie-form {
  width: 450px;
  margin: 0 auto;
  font-family: "Pretendard", sans-serif;
  color: #333;
}

.label {
  display: block;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.input-line {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  padding: 6px 0;
  font-size: 16px;
  outline: none;
}

.row-flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.select-box {
  border: 1px solid #c8c8c8;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 15px;
  background-color: white;
}

.tag-box {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tag {
  background: #f1f1f1;
  border-radius: 20px;
  padding: 5px 12px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.close-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 13px;
}

.textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  resize: none;
}

.upload-box {
  width: 90px;
  height: 120px;
  border: 1px solid #dcdcdc;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plus {
  font-size: 35px;
  color: #777;
}

.upload-btn {
  display: block;
  width: 150px;
  height: 40px;
  margin: 30px auto;
  border-radius: 8px;
  border: none;
  background-color: #3aa3e9;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* 별점 UI */
.star-rating {
  display: flex;
  gap: 5px;
  font-size: 26px;
  cursor: pointer;
  flex-direction: row; 
  justify-content: flex-start; 
}
.star-rating span {
  color: #dcdcdc;
  transition: color 0.2s;
}
/* 별점 색칠 */
.star-rating span:hover{
  color: #ffc107;
}

