.survey-container {
  width: 60%;
  margin: 40px auto;
  font-family: "Pretendard", sans-serif;
  color: #333;
}

.survey-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-name {
  margin-bottom: 20px;
}

.survey-table thead th:nth-child(2),
.survey-table tbody td:nth-child(2) {
  width: 60%;
}

/* 검색창 */
.search-box {
  position: relative;
  width: 240px;
}
.search-box input {
  padding-left: 35px;
}
.search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  opacity: 0.6;
}

/* 테이블 */
.survey-table {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  border-collapse: collapse;
  font-size: 14px;
}

/* Thead */
.survey-table thead th {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 600;
  padding: 12px 0;
  color: #6c757d;
  text-align: center;
}

/* Tbody */
.survey-table tbody td,
.survey-table tbody th {
  padding: 12px 0;
  border-top: 1px solid #f1f3f5;
  text-align: center;
}

/* HOT 텍스트 */
.survey-table tbody tr.hot-row th {
  color: #1b73f7;
  font-weight: bold;
}
.survey-table tbody tr.hot-row th {
  background-color: #e7f3ff !important;
}
/* 테이블 기본 행 높이 고정 */
.survey-table th,
.survey-table td {
  height: 48px;
  vertical-align: middle;
  padding: 0;
}
/* HOT 배지 높이 보정 */
.hot-badge {
  display: inline-block;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
}

/* 링크 */
.survey-table a {
  color: #000;
  text-decoration: none;
}
.survey-table a:hover {
  text-decoration: underline;
}

/* 글쓰기 버튼 */
.write-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}
.write-btn {
  padding: 8px 15px;
  font-weight: 500;
  background-color: #4a90e2;
  color: white !important;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

/* 데이터 없을 때 */
.empty-row td {
  padding: 60px 0;
  background-color: #ffffff;
}
.empty-message {
  color: #adb5bd;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

/*     페이지네이션    */
/* 선택된 페이지 */
.pagination .page-item.active .page-link {
  background-color: #e2e2e2;  
  border-color: #e2e2e2;
  color: #2c2c2c;
}
/* 기본 페이지 번호 색상 */
.pagination .page-link {
  color: #2c2c2c;
}
/* hover */
.pagination .page-link:hover {
  background-color: #e7f3ff;
  color: #2c2c2c;
}
/* 비활성화 버튼 */
.pagination .page-item.disabled .page-link {
  color: #adb5bd;
  background-color: transparent;
}
/* 페이지네이션 클릭 테두리 제거 */
.pagination .page-link:focus,
.pagination .page-link:active {
  outline: none;
  box-shadow: none;
}
