.filter-container,
.genre-container {
  width: 60%;
  margin: 30px auto;
}

/* 검색창 */
.search-box {
  position: relative;
  width: 250px;
  margin-left: auto;
  margin-bottom: 15px;
}

.search-box input,
.search-box .form-control {
  padding-left: 35px;
}

.search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  opacity: 0.6;
}

/* 필터 버튼 공통 */
.filter-buttons,
.genre-buttons,
.tag-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.filter-btn,
.genre-btn,
.tag {
  background: #f1f1f1;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

/* 활성화 버튼(액션 버튼) */
.genre-btn.active,
.filter-btn.active,
.tag.active {
  background: #4a90e2;
  color: white;
}

/* 링크 기본 스타일 제거 */
a,
a:link,
a:visited {
  color: black;
  text-decoration-line: none;
}

.filter-tab-btn {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 20px 0;
}

/* 필터링 탭(활성화 전) */
.tab {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 6px 0;
  color: #333;
  position: relative;
  font-weight: 400;
}

/* 활성화 탭 */
.tab.active {
  font-weight: 700;
  color: #000;
}
.tab.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #4a90e2;
  border-radius: 2px;
}
/* 배우 검색 카드 그리드 */
.moive-grid {
  margin-top: 20px;
}

.moive-card {
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  overflow: hidden;
}

.moive-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.moive-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 8px;
}

.genre-badge {
  background-color: transparent;
  border: 1px solid #4dabf7;
  color: #4dabf7 !important;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 10px !important;
}

.moive-rating {
  margin-top: 6px;
  font-size: 14px;
  color: #4dabf7;
}
